*{
    margin: 0;
    padding: 0;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #217354;
}
header h1 {
    color: #3cbdc4;
}
#input-field {
    display: flex;
    justify-content: center;
}
input {
    padding: 9px 46px;
    margin-bottom: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#buttons {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(20, 82, 70);
    padding: 10px;
}
.btn{
    display: flex;
    padding: 10px 18px 11px 16px;
    margin: 5px;
    font-size: larger;
    font-style: normal;
    font-weight: bold;
    border: none;
    border-radius: 24px;
    align-items: center;
    background-color: #217354;
    color: rgb(244, 246, 241);
}
.btn:hover{
     background-color: #065e9c;
    color: rgb(205, 73, 50);
}